<h1>記録詳細</h1>
<h4>日付</h4>
<%= @status.date %>
<h4>体重</h4>
<%= @status.weight %>
<h4>体脂肪率</h4>
<%= @status.fat %>
<h4>食事内容</h4>
<h6>朝食</h6>
<%= @status.breakfast %>
<h6>昼食</h6>
<%= @status.lunch %>
<h6>夕食</h6>
<%= @status.dinner %>
<h6>間食</h6>
<%= @status.snacks %>
<h4>メモ</h4>
<%= @status.memo %>
<%= link_to '編集', edit_user_status_path(@user.id, @status.id) %>
<%= link_to '削除', user_status_path(@user.id, @status.id), method: :delete %>
<h4>いいねボタン</h4>
<% if @status.favorited_by?(current_user) %>
  <p>
    <%= link_to user_status_favorite_path(@user.id, @status), method: :delete do %>
      ♥<%= @status.favorites.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to user_status_favorites_path(@user.id, @status), method: :post do %>
      ♡<%= @status.favorites.count %> いいね
    <% end %>
  </p>
<% end %>
<h4>コメント一覧</h4>
<div>
<p>コメント件数：<%= @status.comments.count %></p>
<% @status.comments.each do |comments| %>
  <p><%#= image_tag('sample-author1.jpg') %></p>
  <%= comments.user.nickname %>
  <%= comments.created_at.strftime('%Y/%m/%d') %><%= comments.comment %>
  <% if comments.user == current_user %>
  <div>
    <%= link_to "削除", user_status_comment_path(comments.user_id, comments.status_id, comments.id), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<h4>コメント投稿フォーム</h4>
<div>
<%= form_with(model:[@user, @status, @comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
