<h1>プロフィール編集</h1>

<%= form_with model:@user, url:user_path(current_user), local:true do |f| %>
  <div class="field">
    <%= f.label :姓 %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :名 %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :セイ %><br />
    <%= f.text_field :last_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :メイ %><br />
    <%= f.text_field :first_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :プロフィール画像 %><br />
    <%= f.attachment_field :profile_image, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :開始時の体重 %><br />
    <%= f.text_field :start_weight, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :目標体重 %><br />
    <%= f.text_field :goal_weight, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :開始時の体脂肪率 %><br />
    <%= f.text_field :start_fat, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.text_field :age, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :身長 %><br />
    <%= f.text_field :height, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.text_field :sex, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_area :self_introduction, autofocus: true %>
  </div>

  <%= f.submit '更新' %>
<% end %>