<div>
  サイドバー
  <div>ランキング</div>
</div>

<div>
  メイン
  <div>
    <%= @user.nickname %>
    <%= @user.goal_weight %>kg
    <a href='#{user.id}/followings'>フォロー：<%= @user.followings.count %></a>
    <a href='#{user.id}/followers'>フォロワー：<%= @user.followers.count %></a>
    <%= @user.self_introduction %>
    <%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
  </div>

  <div>グラフ</div>
    <canvas id="myChart" width="200" height="100"> </canvas>

    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: <%= @chartlabels %>,
                datasets: [{
                    label: "投稿数",
                    data: <%= @chartdatas %>,
                    backgroundColor: 'rgba(255, 80, 120, 1.0)',
                    borderColor: 'rgba(255, 80, 120, 1.0)',
                    fill: false
                }]
            },
        });
    </script>

  <div>目標まであと◯◯kg！！</div>

  <div>記録一覧へのリンク</div>

  <div>退会画面へのリンク</div>
</div>