<div>
  サイドバー
  <div>ランキング</div>
</div>

<div>
  メイン
  <div>
    <%= @user.nickname %>
    <%= @user.goal_weight %>kg
    <a href='#{user.id}/followings'>フォロー：<%= @user.followings.count %></a>
    <a href='#{user.id}/followers'>フォロワー：<%= @user.followers.count %></a>
    <%= @user.self_introduction %>
    <% if current_user.id == @user.id %>
      <%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
    <% else %>
      <% if current_user.following?(@user) %>
        <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete %>
      <% else %>
        <%= link_to "フォロー", user_relationships_path(@user.id), method: :post %>
      <% end %>
    <% end %>
  </div>

  <div>
    <canvas id="myChart" width="200" height="100"> </canvas>

    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                  <% @chartlabels.each do |label| %>
                    "<%= label %>",
                  <% end %>
                ],
                datasets: [{
                    label: "体重",
                    data: <%= @weights %>,
                    backgroundColor: 'rgba(255, 80, 120, 1.0)',
                    borderColor: 'rgba(255, 80, 120, 1.0)',
                    fill: false
                }]
            },
        });
    </script>
  </div>

  <% if @last_weight.present? %>
    <h1><strong>目標まであと<%= @user.goal_weight.to_i - @last_weight.to_i %>kg！！</strong></h1>
  <% else %>
    <h1><strong>体重を記録しよう！！</strong></h1>
  <% end %>

  <%= link_to '記録する', new_user_status_path(@user.id) %>

  <%= link_to 'カレンダーへ', user_statuses_path(@user.id) %>

  <% if user_signed_in? %>
    <%= link_to '退会はこちら', unsubscribe_path %>
  <% end %>
</div>