<div>
  サイドバー
  <div>ランキング</div>
</div>

<div>
  メイン
  <div>
    <%= @user.nickname %>
    <%= @user.goal_weight %>kg
    <a href='#{user.id}/followings'>フォロー：<%= @user.followings.count %></a>
    <a href='#{user.id}/followers'>フォロワー：<%= @user.followers.count %></a>
    <%= @user.self_introduction %>
    <%= link_to 'プロフィール編集', edit_user_path(@user.id) %>
  </div>

  <div>グラフ</div>

  <div>目標まであと◯◯kg！！</div>

  <div>記録一覧へのリンク</div>

  <div>退会画面へのリンク</div>
</div>