<div class="users">
  <div>
    <h2>パスワードを変更</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="users__form-item">
        <div class="field">
          <%= f.label :パスワード, "新しいパスワード" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 字以上)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="users__form-item">
        <div class="field">
          <%= f.label :確認用パスワード, "新しいパスワードの確認" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="users__form-item">
        <div class="actions">
          <%= f.submit "パスワードを変更" %>
        </div>
      </div>
    <% end %>

    <div class="users__form-item">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
