<div class="users">
  <div>
    <h2>パスワードを忘れた場合</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="users__form-item">
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="users__form-item">
        <div class="actions">
          <%= f.submit "パスワードリセットの説明を送信" %>
        </div>
      </div>
    <% end %>

    <div class="users__form-item">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
