<a href='/' class="font__title">MyStatus</a>
<nav>
  <ul class="nav-list">
    <% if user_signed_in? %>
      <li class="nav-list-item">
        <%= link_to 'トップ', root_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to 'マイページ', user_path(current_user) %>
      </li>
      <li class="nav-list-item">
        <%= link_to 'カレンダー', user_statuses_path(current_user) %>
      </li>
      <li class="nav-list-item">
        <%= link_to 'タイムライン', user_timeline_path(current_user) %>
      </li>
      <li class="nav-list-item">
        <%= link_to 'ユーザー一覧', users_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"} %>
      </li>
    <% else %>
      <li class="nav-list-item">
        <%= link_to 'トップ', root_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to 'このサイトについて', about_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to '新規登録', new_user_registration_path %>
      </li>
      <li class="nav-list-item">
        <%= link_to 'ログイン', new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>